<title>Games</title>
<app-pokemon-toolbar></app-pokemon-toolbar>
<div class="row" layout-align="center">
  <div class="mt-12 center">
    <form>
      <mat-form-field appearance="fill" class="mx-2" >
        <mat-label>Find Games</mat-label>
        <input #findGame type="text" matInput placeholder="Red" (keyup)="filterGames(findGame.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
<div class="row py-4 px-5">
  <div class="col-4 mb-2" *ngFor="let game of games2">
    <app-pokemon-game-card [game]="game"></app-pokemon-game-card>
  </div>
</div>